/* logo */
body.login div#login h1 a {
			
	background-image: url(../assets/submark-black.svg);
	background-size: 150px;
	height: 150px;
	width: 150px;

	margin-bottom: 4vh;

}

/* body */
body {
			
	background-image: url(../assets/hero-01.jpg) !important;
	background-repeat: no-repeat !important;
	background-size: cover !important;
	background-position: 0px 0px !important;
}

/* form */
#login {

	padding-top: 5% !important;
	margin-top: auto;
	margin-bottom: auto;
}
 /* links */
.login a, p#nav a {

	color: white !important;
}

.login a:hover, p#nav a:hover {

	color: #2B6CB0 !important;
}

.privacy-policy-page-link {

	margin: 0px !important;
	padding-left: 24px !important;
	text-align: left !important;
}

a.privacy-policy-link {

	color: white !important;
	text-decoration: none;
}

/*-- mobile - landscape -- */
@media only screen and (min-width: 200px) and (max-width: 767px) and (orientation : landscape) {
	
	body {

		background-size: auto !important;
	}
}