/* logo */
body.login div#login h1 a {
			
	background-image: url(../assets/logo.svg);
	background-size: 150px;
	height: 200px;
	width: 150px;

	margin-bottom: 4vh;
}

/* body */
body::before {

	content: "";
	position: absolute;
	height: 100%;
	width: 100%;
			
	background-image: url(../assets/leaves-with-water-beads-jaimie-phillips-unsplash.jpg) !important;
	background-repeat: no-repeat !important;
	background-size: cover !important;
	background-position: 0px 0px !important;

	filter: brightness(60%);
}

body {

	display: flex;
	flex-direction: column;
	justify-content: center;

	text-transform: lowercase !important;
}

/* form */
#login {

	position: relative;

	padding-top: 0% !important;
	/*
	margin-top: auto;
	margin-bottom: auto;
	*/
}

 /* links */
.login a, p#nav a {

	color: white !important;
}

.login a:hover, p#nav a:hover {

	color: #2B6CB0 !important;
}

.privacy-policy-page-link {

	margin: 0px !important;
	padding-left: 24px !important;
	text-align: left !important;
}

a.privacy-policy-link {

	color: white !important;
	text-decoration: none;
}

/*-- mobile - landscape -- */
@media only screen and (min-width: 200px) and (max-width: 767px) and (orientation : landscape) {
	
	body {

		background-size: auto !important;
	}
}